alembic==1.18.4
amqp==5.3.1
aniso8601==10.0.1
attrs==26.1.0
bcrypt==5.0.0
blinker==1.9.0
cachetools==7.1.1
capstone==5.0.7
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==43.0.3
debtcollector==3.1.0
decorator==5.2.1
defusedxml==0.7.1
dnspython==2.8.0
dogpile.cache==1.5.0
elementpath==4.8.0
eventlet==0.41.0
fasteners==0.20
flake8==7.3.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-RESTful==0.3.10
fusepy==3.0.1
futurist==3.3.0
greenlet==3.5.0
gunicorn==22.0.0
idna==3.13
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
json5==0.14.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keystone==29.0.1
keystone-engine==0.9.2
keystoneauth1==5.13.1
keystonemiddleware==12.0.0
kombu==5.6.2
legacy-cgi==2.6.4
Mako==1.3.12
MarkupSafe==3.0.3
mccabe==0.7.0
msgpack==1.1.2
mysql-connector-python==9.0.0
netaddr==1.3.0
oauthlib==3.3.1
os-service-types==1.8.2
oslo.cache==4.1.1
oslo.concurrency==7.4.1
oslo.config==10.3.0
oslo.context==6.3.0
oslo.db==18.0.0
oslo.i18n==6.7.2
oslo.log==8.1.0
oslo.messaging==17.3.0
oslo.metrics==0.15.1
oslo.middleware==8.0.0
oslo.policy==5.0.0
oslo.serialization==5.9.1
oslo.service==4.5.1
oslo.upgradecheck==2.7.1
oslo.utils==10.0.1
osprofiler==4.3.0
packaging==26.2
Paste==3.10.1
PasteDeploy==3.1.0
pbr==7.0.3
prettytable==3.17.0
prometheus_client==0.25.0
psutil==7.2.2
pycadf==4.0.1
pycodestyle==2.14.0
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pyflakes==3.4.0
PyJWT==2.12.1
pyOpenSSL==24.2.1
pyparsing==3.3.2
pysaml2==7.5.4
pyserial==3.5
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-keystoneclient==5.8.0
pytz==2026.2
pyusb==1.3.1
PyYAML==6.0.3
referencing==0.37.0
repoze.lru==0.7
requests==2.33.1
rfc3986==2.0.0
Routes==2.5.1
rpds-py==0.30.0
setuptools==82.0.1
shiboken6==6.11.0
six==1.17.0
SQLAlchemy==2.0.49
statsd==4.0.1
stevedore==5.7.0
testresources==2.1.2
testscenarios==0.6.1
typing_extensions==4.15.0
tzdata==2026.2
unicorn==2.1.4
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
WebOb==1.8.9
Werkzeug==3.1.8
wheel==0.47.0
wrapt==2.1.2
xmlschema==2.5.1
yappi==1.7.6
